@model BlockchainDemonstratorApi.Models.Classes.Factors

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.retailTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.retailTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manuTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manuTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.procTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.procTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.farmerTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.farmerTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.holdingFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.holdingFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roundIncrement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roundIncrement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.retailProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.retailProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manuProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manuProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.procProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.procProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.farmerProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.farmerProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.harvesterProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.harvesterProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.setupCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.setupCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.initialCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.initialCapital)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
