@using BlockchainDemonstratorApi.Models.Classes
@model BlockchainDemonstratorApi.Models.Classes.Player

@{
    ViewData["Title"] = "BeerGame";
    int currentDay = (int) ViewData["CurrentDay"];
    string gameId = (string)ViewData["GameId"];
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Demonstrator</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body>
    <div class="container">
        <h1 class="brand">The<span>Blockchain</span>Game</h1>
        <div class="wrapper animated bounceInLeft">
            <div class="company-info">
                <h3>Your warehous status</h3>
                <ul>
                    <li> will be implemented later</li>
                    <li>            </li>
                    <li>            </li>
                    <li>            </li>
                    <li>            </li>

                </ul>

                <h3>Your Custome Orders</h3>
                <ul>
                    <li> will be implemented later</li>
                    <li>            </li>
                    <li>            </li>
                    <li>            </li>
                    <li>            </li>
                </ul>
            </div>
            <div class="contact">
                <div>@Model.Name</div>
                <form>

                    <article class="inventory-article ui-item">
                        <div>
                            <b>incoming delivery</b>
                        </div>
                        <table id="incomingDeliveries-@Model.Role.Id" class="order-history">
                            <thead>
                                <tr>
                                    <th>Volume</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.OutgoingOrders)
                                {
                    @foreach (var delivery in order.Deliveries)
                    {
                @if (delivery.ArrivalDay <= currentDay && delivery.ArrivalDay > currentDay - Factors.RoundIncrement)
                {
                <tr>
                    <td class="order-history">@delivery.Volume</td>
                </tr>}}}
                            </tbody>
                        </table>
                        <div id="inventory-@Model.Role.Id">
                            <b>inventory:</b> @Model.Inventory
                        </div>
                    </article>

                    <article class="name-article ui-item">
                        <div>@Model.Name</div>
                        <div>@Model.Role.Id</div>
                        <div id="currentDay">day: @ViewData["CurrentDay"]</div>
                        <div id="balance-@Model.Role.Id">
                            <b>Balance:</b> @Math.Round(Model.Balance, 2)
                        </div>
                    </article>


                    <article class="backorder-article ui-item">
                        @foreach (var order in Model.IncomingOrders)
                        {
                @if (order.OrderDay == (int)ViewData["CurrentDay"] - Factors.RoundIncrement)
                {
                <div id="incomingOrder-@Model.Role.Id">
                    <b>Incoming order:</b> @order.Volume
                </div>}}
                        <div id="backorder-@Model.Role.Id">
                            <b>backorder:</b> @Model.Backorder
                        </div>
                    </article>



                    <article class="order-history-article ui-item">
                        <div>
                            <b>Order History</b>
                        </div>
                        <table id="orderHistory-@Model.Role.Id" class="order-history">
                            <thead>
                                <tr>
                                    <th>Order number</th>
                                    <th>Volume</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BlockchainDemonstratorApi.Models.Classes.Order order in Model.OutgoingOrders)
                                {
                    @if (order.OrderDay > 1)
                    {
                <tr>
                    <td class="order-history">@order.OrderNumber</td>
                    <td class="order-history">@order.Volume</td>
                </tr>}}
                            </tbody>
                        </table>
                    </article>




                    <article class="input-article ui-item">
                        <input id="place-order-text" type="text" placeholder="Order volume">
                        <button id="place-order-button" type="button">Place order</button>
                    </article>

                </form>
            </div>
        </div>
    </div>
</body>



    @section Scripts
{
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/BeerGame.js"></script>
        <script>
            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }
            $(document).ready(() => {
                BeerGame.init("@gameId", "@Model.Id");
                $("#place-order-button").on('click', BeerGame.Signal.sendOrder);
            })
        </script>
    }
